{
  "presets": ["next/babel"], // 覆盖nextjs的默认babel配置，以本文件的babel配置为准
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd" // 将antd的引入写法转换成按需引入写法
        // ,"style": "css"
        // 注：这个配置，是让 antd 的组件样式也做按需加载，无需再在_app.js里面import antd的样式。
        // 但是由于会有bug，mini-css-extract-plugin插件也没有更好的方案，所以暂时先统一导入antd的样式
      }
    ]
  ]
}
